.panel-box{
    color:white;
    padding: 20px 40px;
    background-color: #102535;
    border-radius: 30px;
}

.sms-card {
    border:1px solid grey;
    width: 120px;
    border-radius: 30px;
}
.tasks-card {
    margin-top:20px;
    border:1px solid grey;
    width: 120px;
    border-radius: 30px;
}